<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <h1>Pacientes</h1>

        <a href="{% url 'dashboard' %}">
        <button>Voltar</button>
        </a>

        <hr>

        <a href="{% url 'patients:create' %}">
        <button>Novo paciente</button>
        </a>

        <hr>

        <ul>
        {% for patient in patients %}
            <li>
            <strong>{{ patient.first_name }} {{ patient.last_name }}</strong><br>
            Telefone: {{ patient.phone }}<br>

	    <form action="{% url 'patients:delete' patient.cpf %}" 
                  method="post" 
                  style="display: inline;"
                  onsubmit="return confirm('Tem certeza que deseja excluir {{ patient.first_name }} {{ patient.last_name }}?');">
                {% csrf_token %}
                <button type="submit" class="btn-excluir">Excluir paciente</button>
            </form>
            </li>
            <hr>
        {% empty %}
            <li>Nenhum paciente cadastrado</li>
        {% endfor %}
        </ul>
        
        <script src="" async defer>

	</script>
    </body>
</html>
