<nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'dashboard' %}">
            <i class="fas fa-stethoscope mr-2"></i>
            <strong>Sistema Ortho</strong>
        </a>
    </div>

    <div class="navbar-menu">
        <!--
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'dashboard' %}">
                <i class="fas fa-home mr-2"></i> Dashboard
            </a>
            <a class="navbar-item" href="{% url 'patients:list' %}">
                <i class="fas fa-users mr-2"></i> Pacientes
            </a>
            <a class="navbar-item" href="{% url 'proceeding:proceedings_list' %}">
                <i class="fas fa-procedures mr-2"></i> Procedimentos
            </a>
        </div>
        -->
    </div>
</nav>